{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <style>
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      height: 80px;
    }

    /* Add your custom styles here */
    input[type="text"] {
      width: 300px;
      height: 90px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 2rem;
    }

    input[type="password"] {
      width: 300px;
      height: 90px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 2rem;

    }
    body {
      font-family: Arial, sans-serif;
    }
    .form-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 5px;
      background-color: rgba(255,255,255,0.8);
    }
    h2 {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    .form-group {
      margin-top: 20px;
      text-align: center;
    }
    button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 12px 20px;
      text-align:center
    }
  </style>
  <div class="form-container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
{% endblock %}
